* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #dac9a6;
}

h1 {
    font-size: 2.5em;
    padding: 20px 0;
}

p {
    font-size: 1.2em;
    max-width: 1000px;
    margin: 0 auto;
}

i {
    font-weight: 500;
}

i:hover {
    color: #e91e63;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

input[type=checkbox] {
    display: none;
}

/* Navbar */ 
.active {
    text-decoration: 2px underline;
}

.navbar {
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

.menu {
    display: flex;
    gap: 3rem;
    font-size: 18px;
}

.menu li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.menu li:hover::after {
    width: 100%;
}

.nav-links {
    margin-right: 25px;
}

.nav-links li a {
    font-weight: 500;
}

/* Header */ 
header {
    display: flex;
    position: relative;
    min-height: 600px;
    margin: auto;
    color: #fff;
}

.headings-shadow {
    background: linear-gradient( to bottom, rgba(0,0,0,0) 45%, rgba(0, 0, 0, 1) );
    width: 100%;
    height: 600px;
    display: flex;
    align-items: flex-end;
}

.header-content {
    margin: auto;
    text-align: center;
    margin-bottom: 35px;
    max-width: 75%;
}

/* Main */ 
.main_section {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(185, 177, 177, 0.514), rgba(0,0,0,0.75)), url(../images/scienceforkids.jpg);
    background-size: cover;
    background-position: center;
}

.main_content {
    color: #fbfcfd;
    position: absolute;
    top: 19%;
    left: 10%;
}

.main_content h1 {
    max-width: 75%;
    padding-bottom: 30px;
}

.main_content a,
.section-2_content a {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.main_content a:hover,
.section-2_content a:hover {
    background-color: #fff;
    color: black;
    font-weight: 700;
}

.section-exhibition,
.section-special_events,
.section-get_involved {
    position: relative;
    color: #fff;
    max-width: 1400px;
    margin: 25px auto;
}

.section-exhibition {
    background: url(../images/mammoth.jpg)center, no-repeat;
    background-size: cover;
}

.section-special_events {
    background: url(../images/special-events.jpg)center, no-repeat;
    background-size: cover;
}

.section-get_involved {
    background: url(../images/get-involved.jpg)center, no-repeat;
    background-size: cover;
}

.section-2_content {
    position: absolute;
    bottom: 10%;
    left: 7%;
}

.section-2_content h2 {
    font-size: 3rem;
    padding-bottom: 30px;
}

/* Footer */ 
footer {
    position: relative;
    width: 100%;
    padding: 50px;
    background-color: #c7c1b2;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    gap: 3rem;
}

.row h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.col-1 {
    flex-basis: 30%;
}

.col-1 p{
    max-width: 400px;
    margin-top: 10px;
}

.col-2 {
    flex-basis: 20%;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin: 20px 0;
}

footer li {
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a {
    color: black;
}

footer form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 50px;
}

footer form .fa-solid {
    font-size: 18px;
    margin-right: 10px;
}

footer form input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
}

.social-icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
}

footer input[type="submit"] {
    width: 100px;
    border: 1px solid #fff;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

footer input[type="submit"]:hover {
    background-color: #fff;
    transition: 0.5s;
}

.to-top i {
    font-size: 2em;
    position: absolute;
    right: 62px;
    bottom: 60px;
}

.to-top p {
    position: absolute;
    right: 30px;
    bottom: 35px;
}

/* Visit us */ 
.header_visit {
    background: url(../images/exhibition-1863344_1920.jpg)center, no-repeat;
    background-size: cover;
}

.visit_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.visit {
    background-color: #c7c1b2;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

.visit p {
    padding: 10px 0px;
}
.visit-info {
    width: 80%;
    padding: 30px 0;
}
.visit-info h2 {
    background-color: #a3b1d985;
    padding: 10px 0;
    font-size: 30px;
}
.visit-info p {
    padding: 20px 0;
}

.visit-info img {
    width: 50%;
}

/* Explore */ 
.header_explore {
    background: url(../images/learn-2405206_1920.jpg)center, no-repeat;
    background-size: cover;
}

.explore h3 {
    background-color: #a3b1d985;
    padding: 15px;
    margin-bottom: 15px;
}
.explore {
    width: 80%;
    margin: auto;
}
.explore-container {
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: center;
    padding: 30px 0;
}
.explore-container h3 {
    padding-bottom: 15px;
    font-size: 25px;
}
.explore-box img {
    width: 100%;
    height: 35%;
    max-width: 500px;
    border-radius: 50%;
}
.explore-box p {
    padding: 15px 0;
    max-width: 500px;
}

/* Get Involved */
.header_involved {
    background: url(../images/get-involved.jpg)center, no-repeat;
    background-size: cover;
}

.involved {
    width: 80%;
    margin: auto;
    height: 115vh;
}

.involved-section {
    display: flex;
    gap: 30px;
    padding: 60px 0;
    text-align: center;
    justify-content: center;
}

.involved-section h2 {
    background-color: #a3b1d985;
    padding: 20px 0;
    margin: 20px 0;
}

.involved-section p {
    max-width: 500px;
}

.involved-section img {
    width: 100%;
    height: 45%;
    max-width: 500px;
}

/* Contact us */
.header_contact {
    background: url(../images/antoine-barres-jay5BqVyf5A-unsplash.jpg)center, no-repeat;
    background-size: cover;
}

.contact {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: auto;
}

.contact h1 {
    margin-top: 15px;
    text-align: center;
    font-size: 36px;
    border: 1px solid #fff;

}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.contactForm {
    width: 40%;
    padding: 40px;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid;
    outline: none;
    resize: none;
}
.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    border: 1px solid #fff;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}

.contactForm .inputBox input[type="submit"]:hover {
    background-color: #fff;
    transition: 0.5s;
}

.inputBox > *{
    background-color: #dac9a6;
}

/* Exhibition spaces */
.header_exhibition {
    background: url(../images/big-spider.jpg)center, no-repeat;
    background-size: cover;
}

.exhibition {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.exhibition h2 {
    text-align: center;
    padding: 30px;
    width: 80%;
    margin: 30px auto;
    background-color: #a3b1d985;
}

.exhibition-box {
    width: 80%;
    margin: 20px auto;
}

.exhibition-box img {
    width: 100%;
    max-width: 500px;
    max-height: 400px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.exhibition p {
    max-width: 1200px;
    padding-bottom: 30px;
    
}

/* Special Events and Exhibition */
.header_special-events {
    background: url(../images/special-events.jpg)center, no-repeat;
    background-size: cover;
}

.special_events {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.special_events h2 {
    text-align: center;
    padding: 30px;
    width: 80%;
    margin: 30px auto;
    background-color: #a3b1d985;
}

.special_events-box {
    margin: 20px auto;
    width: 80%;
}

.special_events-box img {
    width: 100%;
    max-width: 500px;
}

.special_events p {
    margin-top: 20px;
}

/*tablet styles*/
@media only screen and (min-width:751px) and (max-width:1105px) {
    
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .menu {
        display: none;
        position: absolute;
        background-color: #dac9a6;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px;
        z-index: +1;
    }

    .menu li {
        padding: 20px 0;
    }

    .menu li:hover {
        background-color: #ffffff;
        transition: 0.3s ease;
        width: 100%;
        border-radius: 30px;
    }

    .menu li:hover::after {
        width: 0%;
    }

    input[type=checkbox]:checked ~ .menu{
        display: block;
    }

    .main_content {
        top: 17%;
    }

    .main_content h1 {
        font-size: 2em;
    }

    .row {
        flex-direction: column;
        max-width: 700px;
    }

    .explore-container {
        flex-direction: column;
        align-items: center;
    }

    .exhibition-box img {
        float: none;
        max-width: fit-content;
    }

    .exhibition p {
        max-width: 1200px;
        padding: 25px 0;
        
    }

    .involved {
        height: fit-content;
    }

    .involved-section {
        flex-direction: column;
    }

    .involved-section img {
        max-width: 900px;
    }

    .involved-section p{
        max-width: fit-content;
    }
}

/*Mobile styles*/
@media only screen and (max-width:750px) {
    
    .menu {
        display: none;
        position: absolute;
        background-color: #dac9a6;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px;
        z-index: +1;
    }

    .menu li {
        padding: 20px 0;
    }

    .menu li:hover {
        background-color: #ffffff;
        transition: 0.3s ease;
        width: 100%;
    }

    .menu li:hover::after {
        width: 0%;
    }

    input[type=checkbox]:checked ~ .menu{
        display: block;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .logo h2 {
        font-size: 1.2em;
    }

    .main_section {
        background-position: unset;
    }

    .main_content {
        top: 15%;
    }

    .main_content h1 {
        font-size: 1.6em;
    }

    .second_section {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
        max-width: 700px;
    }

    .container {
        flex-direction: column;
    }

    .explore-container {
        flex-direction: column;
        align-items: center;
    }

    
    .exhibition-box img {
        float: none;
        max-width: fit-content;
    }

    .exhibition p {
        max-width: 1200px;
        padding: 25px 0;
        
    }

    .involved {
        height: fit-content;
    }

    .involved-section {
        flex-direction: column;
    }

    .involved-section img {
        max-width: 900px;
    }

    .involved-section p{
        max-width: fit-content;
    }

    .contactInfo,
    .contactForm {
        width: 100%;
    }

    .visit-info img {
        width: 70%;
    }
}